# Assignment 1.1

Install Jupyter notebook and run the first program and share the screenshot of the output.

In [2]:
print ("Its great to learn Python")
print ("Let's Start")

Its great to learn Python
Let's Start

# Assignment 1.2

Write a program which will find all such numbers which are divisible by 7 but are not a
multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be
printed in a comma-separated sequence on a single line.

In [26]:
num = []
for x in range(2000,3200):
    if(x%7 == 0) and (x%5 !=0):
         num.append(str(x))  
            
print(', ' .join(num))

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [18]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [8]:
First_name = input("Your first name: ")
Last_name = input("Your last name: ")

Name = (First_name+ " " +Last_name)

print(Name)

print(''.join(reversed(Name)))

TypeError: 'str' object is not callable

In [ ]:
d = 12
r = d/2

V = 4/3*Ï€*r**3

print(V)

In [7]:
First_name = input("Your first name: ")

TypeError: 'str' object is not callable

In [3]:
values = input("Enter the values: ")
l = values.split(",")
print(l)

Enter the values: 1,2,3,4,5,6,7
['1', '2', '3', '4', '5', '6', '7']

In [14]:
for i in range(1,6):
    for j in range(5,i-1,-1):
        print("*"),
    print

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [2]:
for g in range (6,0,-13):
    print(g * ' ' + (6-g) * '*')

In [3]:
for g in range (6,0,-13):
    print(g * ' ' + (6-g) * '*')

In [4]:
for g in range (6,0,-1):
    print(g * ' ' + (6-g) * '*')
    
    for g in range (6,0,-1):
    print(g * ' ' + (6-g) * '*')

     *
    **
   ***
  ****
 *****